* { /* 기본 초기화 */
    margin: 0;
    padding: 0;
}

#playground{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    width: 597px;
    height: 323px;
     /* flex, grid 고민 */
    /* grid-template-columns: repeat(4, 1fr) */
}

#buttons{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2DB400;
    border: 2px solid green;    
}

.button{    
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 40px;
    margin: 20px 30px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #2DB400;
}

#btnStart{

}

.isStarted{
    color: red;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#scoreBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.card_img{
    width: 100px;
    margin: 5px;
}

.card_hidden{
    opacity: 10%;
}

.flipped{
    opacity: 100%;
}


.selected{
    opacity: 100%;

    border-style: solid;
    border-color: yellow;
    border-width: 2px;
}

.correct{
    opacity: 100%;

    border-style: solid;
    border-color: green;
    border-width: 2px;
    pointer-events: none;
}

.warn{
    border-color: red;
}

.hidden {
    display: none;
}