* { /* 기본 초기화 */
    margin: 0;
    padding: 0;
}

#playground{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    /* width: 597px;
    height: 323px; */
     /* flex, grid 고민 */
    /* grid-template-columns: repeat(4, 1fr) */
}

#buttons{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2DB400;
    border: 2px solid green;    
}

.button{    
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    margin: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #2DB400;
}

#btnStart{

}

.isStarted{
    color: red;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#scoreBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.card_img{
    width: 100px;
    margin: 5px;
}

.card_hidden{
    opacity: 10%;
}

.flipped{
    opacity: 100%;
}


.selected{
    opacity: 100%;

    border-style: solid;
    border-color: yellow;
    border-width: 2px;
}

.correct{
    opacity: 100%;

    border-style: solid;
    border-color: green;
    border-width: 2px;
    pointer-events: none;
}

.warn{
    border-color: red;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
}

.modal button{
    background-color: #0070c9;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal button:hover {
    background-color: #005da6;
}

.modal input[type=text] {
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}